In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
# Custom transformer to preserve column names with SimpleImputer
class NamedSimpleImputer(BaseEstimator, TransformerMixin):
    def __init__(self, strategy="mean", fill_value=None):
        self.strategy = strategy
        self.fill_value = fill_value
        self.imputer = SimpleImputer(strategy=self.strategy, fill_value=self.fill_value)
    
    def fit(self, X, y=None):
        self.imputer.fit(X, y)
        return self
    
    def transform(self, X):
        X_filled = self.imputer.transform(X)
        return pd.DataFrame(X_filled, columns=X.columns)

In [3]:
# Load the datasets
batsman_data = pd.read_csv('C:/Users/Balu/Desktop/Python learning/cricket/Batsman_Data.csv')
bowler_data = pd.read_csv('C:/Users/Balu/Desktop/Python learning/cricket/Bowler_data.csv')
ground_averages = pd.read_csv('C:/Users/Balu/Desktop/Python learning/cricket/Ground_Averages.csv')
match_results = pd.read_csv('C:/Users/Balu/Desktop/Python learning/cricket/ODI_Match_Results.csv')
match_totals = pd.read_csv('C:/Users/Balu/Desktop/Python learning/cricket/ODI_Match_Totals.csv')
wc_players = pd.read_csv('C:/Users/Balu/Desktop/Python learning/cricket/WC_players.csv')

In [4]:
print(batsman_data)
print("_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _")
print(bowler_data)
print("_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _")
print(ground_averages)
print("_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _")
print(match_results)
print("_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _")
print(match_totals)
print("_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _")
print(wc_players)
print("_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _")

       Unnamed: 0  Bat1 Runs  BF     SR 4s 6s    Opposition     Ground  \
0               1   DNB    -   -      -  -  -       v India     Nagpur
1               2   DNB    -   -      -  -  -       v India    Kolkata
2               3   DNB    -   -      -  -  -       v India      Delhi
3               4   DNB    -   -      -  -  -  v Bangladesh      Dhaka
4               5   DNB    -   -      -  -  -       v India      Dhaka
...           ...   ...  ...  ..    ... .. ..           ...        ...
11144       11145    46   46  61  75.40  6  1     v Ireland   Dehradun
11145       11146     3    3   6  50.00  0  0     v Ireland   Dehradun
11146       11147     1    1   8  12.50  0  0     v Ireland   Dehradun
11147       11148   DNB    -   -      -  -  -    v Scotland  Edinburgh
11148       11149  TDNB    -   -      -  -  -     v Ireland    Belfast

        Start Date    Match_ID         Batsman  Player_ID
0      18 Dec 2009  ODI # 2933   Oshane Thomas      49619
1      24 Dec 2009  ODI # 2935   Oshane Thomas      49619
2      27 Dec 2009  ODI # 2936   Oshane Thomas      49619
3       4 Jan 2010  ODI # 2937   Oshane Thomas      49619
4       5 Jan 2010  ODI # 2938   Oshane Thomas      49619
...            ...         ...             ...        ...
11144  28 Feb 2019  ODI # 4100  Gulbadin Naib      352048
11145   2 Mar 2019  ODI # 4101  Gulbadin Naib      352048
11146   8 Mar 2019  ODI # 4108  Gulbadin Naib      352048
11147  10 May 2019  ODI # 4131  Gulbadin Naib      352048
11148  19 May 2019  ODI # 4139  Gulbadin Naib      352048

[11149 rows x 13 columns]
_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _
       Unnamed: 0 Overs Mdns Runs Wkts   Econ    Ave    SR    Opposition  \
0               1   8.0    0   57    0   7.12      -     -       v India
1               2  10.0    0   55    2   5.50  27.50  30.0       v India
2               3     -    -    -    -      -      -     -       v India
3               4   9.0    1   63    2   7.00  31.50  27.0  v Bangladesh
4               5   8.0    1   48    0   6.00      -     -       v India
...           ...   ...  ...  ...  ...    ...    ...   ...           ...
11113       11114   4.0    0   41    0  10.25      -     -       v India
11114       11115   7.2    0   20    2   2.72  10.00  22.0     v Ireland
11115       11116     -    -    -    -      -      -     -     v Ireland
11116       11117   6.0    0   21    1   3.50  21.00  36.0     v Ireland
11117       11118  10.0    0   72    3   7.20  24.00  20.0    v Scotland

            Ground   Start Date    Match_ID          Bowler  Player_ID
0           Nagpur  18 Dec 2009  ODI # 2933  Suranga Lakmal      49619
1          Kolkata  24 Dec 2009  ODI # 2935  Suranga Lakmal      49619
2            Delhi  27 Dec 2009  ODI # 2936  Suranga Lakmal      49619
3            Dhaka   4 Jan 2010  ODI # 2937  Suranga Lakmal      49619
4            Dhaka   5 Jan 2010  ODI # 2938  Suranga Lakmal      49619
...            ...          ...         ...             ...        ...
11113  Dubai (DSC)  25 Sep 2018  ODI # 4046  Gulbadin Naib      352048
11114     Dehradun  28 Feb 2019  ODI # 4100  Gulbadin Naib      352048
11115     Dehradun   2 Mar 2019  ODI # 4101  Gulbadin Naib      352048
11116     Dehradun   8 Mar 2019  ODI # 4108  Gulbadin Naib      352048
11117    Edinburgh  10 May 2019  ODI # 4131  Gulbadin Naib      352048

[11118 rows x 14 columns]
_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _
                                                Ground       Span  Mat  Won  \
0                        Eden Gardens, Kolkata - India  2013-2017    4    4
1                      Feroz Shah Kotla, Delhi - India  2013-2019    4    4
2                 Melbourne Cricket Ground - Australia  2013-2019   15   15
3    Saurashtra Cricket Association Stadium, Rajkot...  2013-2015    2    2
4                            Adelaide Oval - Australia  2013-2019   10   10
..                                                 ...        ...  ...  ...
101  Greenfield International Stadium, Thiruvananth...  2018-2018    1    1
102  Sylhet International Cricket Stadium - Bangladesh  2018-2018    1    1
103  Rajiv Gandhi International Cricket Stadium, De...  2019-2019    5    4
104       Wanderers Cricket Ground, Windhoek - Namibia  2019-2019    1    1
105                    Affies Park, Windhoek - Namibia  2019-2019    1    1

     Tied  NR  Runs  Wkts  Balls    Ave   RPO
0       0   0  2161    72   2297  30.01  5.64
1       0   0  1789    75   2331  23.85  4.60
2       0   0  7656   217   8482  35.28  5.41
3       0   0  1163    26   1200  44.73  5.81
4       0   0  4863   157   5645  30.97  5.16
..    ...  ..   ...   ...    ...    ...   ...
101     0   0   209    11    280  19.00  4.47
102     0   0   400    11    531  36.36  4.51
103     0   1  1864    67   2524  27.82  4.43
104     0   0   307    17    474  18.05  3.88
105     0   0   329    15    460  21.93  4.29

[106 rows x 11 columns]
_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _
      Unnamed: 0 Result     Margin   BR  Toss  Bat   Opposition      Ground  \
0            418    won    85 runs  NaN  lost  1st      v India     Kolkata
1            692   lost    85 runs  NaN   won  2nd   v Pakistan     Kolkata
2            419   lost    10 runs  NaN  lost  2nd      v India       Delhi
3            693    won    10 runs  NaN   won  1st   v Pakistan       Delhi
4            121   lost   107 runs  NaN  lost  2nd  v Australia   Melbourne
...          ...    ...        ...  ...   ...  ...          ...         ...
1317         997    won  3 wickets  3.0   won  2nd   v Pakistan  Nottingham
1318         282   aban          -  NaN     -    -   v Scotland   Edinburgh
1319        1322      -          -  NaN   won  2nd    v Ireland     Belfast
1320         559      -          -  NaN  lost  2nd    v England       Leeds
1321         998      -          -  NaN   won  1st   v Pakistan       Leeds

       Start Date     Match_ID      Country  Country_ID
0      3 Jan 2013   ODI # 3315     Pakistan           7
1      3 Jan 2013   ODI # 3315        India           6
2      6 Jan 2013   ODI # 3316     Pakistan           7
3      6 Jan 2013   ODI # 3316        India           6
4     11 Jan 2013   ODI # 3317     SriLanka           8
...           ...          ...          ...         ...
1317  17 May 2019   ODI # 4138      England           1
1318  18 May 2019  ODI # 4138a     SriLanka           8
1319  19 May 2019   ODI # 4139  Afghanistan          40
1320  19 May 2019   ODI # 4140     Pakistan           7
1321  19 May 2019   ODI # 4140      England           1

[1322 rows x 12 columns]
_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _
      Unnamed: 0  Score  Overs   RPO  Target  Inns Result   Opposition  \
0            412    250   48.3  5.15     NaN     1    won      v India
1            680    165   48.0  3.43   251.0     2   lost   v Pakistan
2            413    157   48.5  3.21   168.0     2   lost      v India
3            681    167   43.4  3.82     NaN     1    won   v Pakistan
4            117    198   40.0  4.95   306.0     2   lost  v Australia
...          ...    ...    ...   ...     ...   ...    ...          ...
1291         549  340/7   50.0  6.80     NaN     1   lost    v England
1292         979  341/7   49.3  6.88   341.0     2    won   v Pakistan
1293        1296  120/8   33.0  3.63   211.0     2      -    v Ireland
1294         550  193/6   31.5  6.06   352.0     2      -    v England
1295         980  351/9   50.0  7.02     NaN     1      -   v Pakistan

          Ground   Start Date    Match_ID      Country  Country_ID
0        Kolkata   3 Jan 2013  ODI # 3315     Pakistan           7
1        Kolkata   3 Jan 2013  ODI # 3315        India           6
2          Delhi   6 Jan 2013  ODI # 3316     Pakistan           7
3          Delhi   6 Jan 2013  ODI # 3316        India           6
4      Melbourne  11 Jan 2013  ODI # 3317     SriLanka           8
...          ...          ...         ...          ...         ...
1291  Nottingham  17 May 2019  ODI # 4138     Pakistan           7
1292  Nottingham  17 May 2019  ODI # 4138      England           1
1293     Belfast  19 May 2019  ODI # 4139  Afghanistan          40
1294       Leeds  19 May 2019  ODI # 4140     Pakistan           7
1295       Leeds  19 May 2019  ODI # 4140      England           1

[1296 rows x 13 columns]
_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _
                   Player      ID      Country
0       Gulbadin Naib (c)  352048  Afghanistan
1        Rashid Khan (vc)  793463  Afghanistan
2              Aftab Alam  440963  Afghanistan
3           Asghar Afghan  320652  Afghanistan
4           Dawlat Zadran  516561  Afghanistan
..                    ...     ...          ...
147          Ashley Nurse  315594   WestIndies
148  Nicholas Pooran (wk)  604302   WestIndies
149           Kemar Roach  230553   WestIndies
150         Andre Russell  276298   WestIndies
151         Oshane Thomas  914567   WestIndies

[152 rows x 3 columns]
_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _

In [9]:
# Preprocess the data
# Batsman Data
batsman_data = batsman_data[['Bat1', 'Runs', 'BF', 'SR', '4s', '6s']]
batsman_data['Bat1'] = pd.to_numeric(batsman_data['Bat1'], errors='coerce')
batsman_data['Bat1'] = batsman_data['Bat1'].fillna(0)
batsman_data['SR'] = pd.to_numeric(batsman_data['SR'], errors='coerce')

# Bowler Data
bowler_data = bowler_data[['Overs', 'Mdns', 'Runs', 'Wkts', 'Econ', 'Ave', 'SR']]

# Ground Averages Data
ground_averages = ground_averages[['Ground', 'Span', 'Mat', 'Won', 'Tied', 'NR']]

# ODI Match Results Data
match_results = match_results[['Result', 'Margin', 'BR', 'Toss', 'Bat']]

# ODI Match Totals Data
match_totals = match_totals[['Score', 'Overs', 'RPO', 'Target', 'Inns']]

# WC Players Data
wc_players = wc_players[['Player', 'ID', 'Country']]

In [10]:
print(batsman_data)
print("_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _")
print(bowler_data)
print("_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _")
print(ground_averages)
print("_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _")
print(match_results)
print("_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _")
print(match_totals)
print("_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _")
print(wc_players)
print("_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _")

       Bat1  Runs   BF    SR  4s  6s
0       0.0     0    0   NaN   0   0
1       0.0     0    0   NaN   0   0
2       0.0     0    0   NaN   0   0
3       0.0     0    0   NaN   0   0
4       0.0     0    0   NaN   0   0
...     ...   ...  ...   ...  ..  ..
11144  46.0   121  121  75.4  22   2
11145   3.0   103  119  50.0   1   1
11146   1.0     2  141  12.5   1   1
11147   0.0     0    0   NaN   0   0
11148   0.0     0    0   NaN   0   0

[11149 rows x 6 columns]
_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _
       Overs  Mdns  Runs  Wkts  Econ  Ave  SR
0         49     1    59     1   412    0   0
1         12     1    57     3   316  103  77
2          0     0     0     0     0    0   0
3         55     2    66     3   406  120  70
4         49     2    49     1   349    0   0
...      ...   ...   ...   ...   ...  ...  ..
11113     25     1    42     1    35    0   0
11114     45     1    19     3   112    5  60
11115      0     0     0     0     0    0   0
11116     37     1    20     2   171   80  83
11117     12     1    76     4   417   92  56

[11118 rows x 7 columns]
_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _
     Ground  Span  Mat  Won  Tied  NR
0        23     4    4    4     0   0
1        26     6    4    4     0   0
2        55     6   15   15     0   0
3        76     2    2    2     0   0
4         0     6   10   10     0   0
..      ...   ...  ...  ...   ...  ..
101      32    18    1    1     0   0
102      90    18    1    1     0   0
103      70    19    5    4     0   1
104     100    19    1    1     0   0
105       1    19    1    1     0   0

[106 rows x 6 columns]
_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _
      Result  Margin   BR  Toss  Bat
0          6     160  NaN     1    1
1          3     160  NaN     2    2
2          3       3  NaN     1    2
3          6       3  NaN     2    1
4          3      10  NaN     1    2
...      ...     ...  ...   ...  ...
1317       6      99  3.0     2    2
1318       1       0  NaN     0    0
1319       0       0  NaN     2    2
1320       0       0  NaN     1    2
1321       0       0  NaN     2    1

[1322 rows x 5 columns]
_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _
      Score  Overs  RPO  Target  Inns
0       404   48.3  165     NaN     1
1       115   48.0   25   251.0     2
2        93   48.5   18   168.0     2
3       120   43.4   48     NaN     1
4       199   40.0  146   306.0     2
...     ...    ...  ...     ...   ...
1291    750   50.0  309     NaN     1
1292    753   49.3  315   341.0     2
1293     27   33.0   38   211.0     2
1294    187   31.5  249   352.0     2
1295    767   50.0  322     NaN     1

[1296 rows x 5 columns]
_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _
     Player      ID  Country
0        42  352048        0
1       118  793463        0
2         5  440963        0
3        13  320652        0
4        30  516561        0
..      ...     ...      ...
147      14  315594        9
148     111  604302        9
149      75  230553        9
150      10  276298        9
151     114  914567        9

[152 rows x 3 columns]
_ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _  _ _ _   _ _ _ _ _  _ _ _  __ _ _ _ ___ _ _ _ _ _ _ _ _ _ _ _ _ __  _ _  _ _  _

In [12]:
# Convert non-numeric columns to numeric using label encoding
label_encoder = LabelEncoder()
for dataset in [batsman_data, bowler_data, ground_averages, match_results, match_totals, wc_players]:
    for column in dataset.select_dtypes(include='object').columns:
        dataset[column] = label_encoder.fit_transform(dataset[column])

In [13]:
# Split the data and train the model for each dataset
datasets = {
    'Batsman Data': batsman_data,
    'Bowler Data': bowler_data,
    'Ground Averages': ground_averages,
    'Match Results': match_results,
    'Match Totals': match_totals,
    'WC Players': wc_players
}

In [14]:
common_columns = None  # To store common columns

for dataset_name, dataset in datasets.items():
    print(f"--- {dataset_name} ---\n")

    # Remove rows with missing values
    dataset = dataset.dropna()

    # Remove unnecessary columns
    if 'Runs' in dataset.columns:
        dataset = dataset.drop('Runs', axis=1)
        dataset = dataset.applymap(lambda x: x.strip() if isinstance(x, str) else x)

    X = dataset.dropna().dropna()
    y = dataset.dropna().dropna()
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    model = make_pipeline(NamedSimpleImputer(strategy='mean'), LinearRegression())
    model.fit(X_train, y_train)

    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)

    print("Mean Squared Error:", mse)
    print("Mean Absolute Error:", mae)
    print()

    # Make predictions on new data
    new_data = pd.DataFrame({'Bat1': [50], 'BF': [80], 'SR': [125], '4s': [10], '6s': [3]})
    new_data = new_data.reindex(columns=X.columns, fill_value=0)

    y_new_pred = model.predict(new_data)

    print(f"Predicted Performance for {dataset_name}:")
    performance_names = list(X.columns)
    performance_values = list(y_new_pred[0])
    for name, value in zip(performance_names, performance_values):
        print(f"{name}: {value}")
    print()

print("Note: The Mean Squared Error (MSE) and Mean Absolute Error (MAE) indicate the model's performance in terms of accuracy. A lower value indicates better performance. The 'Predicted Performance' section provides the predicted values for the given input data.")

--- Batsman Data ---

Mean Squared Error: 2.330995698222678e-26
Mean Absolute Error: 8.102229317064312e-14

Predicted Performance for Batsman Data:
Bat1: 50.000000000000284
BF: 80.0
SR: 125.00000000000004
4s: 9.999999999999938
6s: 3.000000000000002

--- Bowler Data ---

Mean Squared Error: 3.6945225075085785e-24
Mean Absolute Error: 9.173495566073661e-13

Predicted Performance for Bowler Data:
Overs: 5.903752928095797e-13
Mdns: 5.5039306445792135e-14
Wkts: 6.054184931159057e-16
Econ: 3.491068545358189e-12
Ave: -1.0571404862602662e-13
SR: 124.99999999999429

--- Ground Averages ---

Mean Squared Error: 1.7370219705130533e-28
Mean Absolute Error: 6.61841155823588e-15

Predicted Performance for Ground Averages:
Ground: -4.973799150320701e-14
Span: 1.0658141036401503e-14
Mat: 5.329070518200751e-15
Won: -6.217248937900877e-15
Tied: 4.85722573273506e-17
NR: 2.220446049250313e-16

--- Match Results ---

Mean Squared Error: 3.0106511630027942e-28
Mean Absolute Error: 9.339899168549616e-15

Predicted Performance for Match Results:
Result: 5.329070518200751e-15
Margin: 0.0
BR: 7.815970093361102e-14
Toss: 1.4876988529977098e-14
Bat: 3.552713678800501e-15

--- Match Totals ---

Mean Squared Error: 1.083811997713034e-26
Mean Absolute Error: 5.346440136489241e-14

Predicted Performance for Match Totals:
Score: -1.1368683772161603e-13
Overs: 2.842170943040401e-14
RPO: -5.115907697472721e-13
Target: -1.9895196601282805e-13
Inns: 2.0

--- WC Players ---

Mean Squared Error: 1.984443740363019e-23
Mean Absolute Error: 2.4840672296684135e-12

Predicted Performance for WC Players:
Player: 1.0089706847793423e-11
ID: 0.0
Country: -3.375077994860476e-14

Note: The Mean Squared Error (MSE) and Mean Absolute Error (MAE) indicate the model's performance in terms of accuracy. A lower value indicates better performance. The 'Predicted Performance' section provides the predicted values for the given input data.

In [1]:
print("Thank You🙏")

Thank You🙏